<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.starlabs.com.androidapps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".OnBootReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service android:name=".ShakerService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name=".ApplicationNavigatorActivity"
            android:label="@string/navigator_app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GreetUserActivity"
            android:label="@string/greet_app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CalculatorActivity"
            android:label="@string/calculator_app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SortBenchmarkApplicationActivity"
            android:label="@string/benchmark_app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UserLoginActivity"
            android:label="@string/login_activity_name"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UserRegistrationActivity"
            android:label="@string/user_registration_activity_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_activity_name" />
        <activity
            android:name=".AboutActivity"
            android:label="About" />
        <activity
            android:name=".HelpActivity"
            android:label="Help" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VendorManagementActivity"
            android:label="Vendor-Product DB"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddProductActivity"
            android:label="Add Product"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UpdateProductActivity"
            android:label="Update product"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AboutVendorManagement"
            android:label="ABout" />
        <activity
            android:name=".PhotoEditorActivity"
            android:configChanges="orientation|screenSize"
            android:label="Photo Editor">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="image/*" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
      
    </application>

</manifest>